@model IntroToMVC.Models.Post

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Post</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <dl>

            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>

            <dd>
                @Html.EditorFor(model => model.Title)
                @Html.ValidationMessageFor(model => model.Title, "")
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Writer)
            </dt>

            <dd>
                @Html.EditorFor(model => model.Writer)
                @Html.ValidationMessageFor(model => model.Writer, "")
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.WebSite)
            </dt>

            <dd>
                @Html.EditorFor(model => model.WebSite)
                @Html.ValidationMessageFor(model => model.WebSite, "")
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PostingDate)
            </dt>

            <dd>
                @Html.EditorFor(model => model.PostingDate)
                @Html.ValidationMessageFor(model => model.PostingDate, "", new { @class = "text-danger" })
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Content)
            </dt>

            <dd>
                @Html.EditorFor(model => model.Content)
                @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Image)
            </dt>

            <dd>
                @Html.CheckBox("ImageCheckBox", new { onclick = "enableDisable(this.checked, 'ImageBox')" })
                @Html.TextBoxFor(model => model.Image, new { disabled = false, id = "ImageBox" })
                @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Video)
            </dt>

            <dd>
                @Html.CheckBox("VideoCheckBox", new { onclick = "enableDisable(this.checked, 'VideoBox')" })
                @Html.TextBoxFor(model => model.Video, new { disabled = false, id = "VideoBox" })
                @Html.ValidationMessageFor(model => model.Video, "", new { @class = "text-danger" })
            </dd>
        </dl>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
