@model IEnumerable<IntroToMVC.Models.Post>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <div id="mainContent">

        <h2>Posts</h2>
        @using (Html.BeginForm())
        {
            <p>
                Search by content: @Html.TextBox("SearchString")
                <input type="submit" value="Filter" />
            </p>
        }

        <div id="fans">
            <table class="CSSTableGenerator">
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.Title)
                    </td>
                    <td>
                        @Html.DisplayNameFor(model => model.Writer)
                    </td>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Writer)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                            @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.ID }) |
                            @Html.ActionLink("Manage Comments", "ManageComments", new { id = item.ID })
                        </td>
                    </tr>
                }

            </table>
        </div>

        <p>
            @Html.ActionLink("Create New", "Create")
        </p>

    </div>
</body>