@{
    ViewBag.Title = "BranchesReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<IntroToMVC.Models.BranchReport>

<body>
    <div id="mainContent">
        <h2>Branches Report</h2>
        <h3>Manager And His Branch</h3>
            <table class="CSSTableGenerator">
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => Model.Manager.FirstName)
                    </td>
                    <td>
                        @Html.DisplayNameFor(model => model.Manager.LastName)
                    </td>
                    <td>
                        @Html.DisplayNameFor(model => model.Manager.Gender)
                    </td>
                    <td>
                        @Html.DisplayNameFor(model => model.Manager.BirthDate)
                    </td>
                    <td>
                        @Html.DisplayNameFor(model => model.Manager.NumOfYearsInClub)
                    </td>
                    <td>
                        @Html.DisplayNameFor(model => model.Branch.lat)
                    </td>
                    <td>
                        @Html.DisplayNameFor(model => model.Branch.lng)
                    </td>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Manager.UserName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Manager.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Manager.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Manager.Gender)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Manager.BirthDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Manager.NumOfYearsInClub)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Branch.name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Branch.lat)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Branch.lng)
                        </td>
                    </tr>
                }
            </table>
       
</div>
</body>