@model IntroToMVC.Models.Branch

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <div id="mainContent">
        <h2>Details</h2>

        <div>
            <h4>Branch</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.lat)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.lat)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.lng)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.lng)
                </dd>

            </dl>
        </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
</div>
</body>