@model IEnumerable<IntroToMVC.Models.Branch>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body>
    <div id="mainContent">
        <h2>Index</h2>

        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <table class="CSSTableGenerator">
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.name)
                </td>
                <td>
                    @Html.DisplayNameFor(model => model.lat)
                </td>
                <td>
                    @Html.DisplayNameFor(model => model.lng)
                </td>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.lat)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.lng)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                    </td>
                </tr>
            }

        </table>
</div>
</body>